#left-side {
    height: 100%;
    width: 400px;
    background-color: #2f2f6b;
}

.left-side-menu-component {
    height: 30px;
    width: 100%;
    background-color: #52529a;
    margin-top: 10px;
    display: flex;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    justify-content: center;
    margin: 24px 0px -9px 24px;
    flex-direction: column;
    box-shadow: -10px 3px 13px #1c1c42;
}

.left-side-menu-component span {
    margin: 0 auto;
}

.main-font-nav a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.selected {
    height: 27px;
    background: #ffffff;
    border: 3px solid #7373b8;
    color: #000 !important;
}