@import "../../node_modules/normalize.css/normalize.css";

@import "default/Default.css";
@import "main/MainFrame.css";
@import "main/leftSide/LeftSide.css";
@import "main/rightSide/RightSide.css";
@import "main/rightSide/entity/Entity.css";
@import "main/rightSide/selection/Selection.css";
.main-font {
    font-weight: 100;
    font-family: main;
    color: hsl(240, 39%, 30%);
}
.main-font-nav {
    font-weight: 100;
    font-family: main;
    color: hsla(0, 0%, 100%, 0.7);
}
@font-face {
    font-family: main;
    src: url("../fonts/Roboto-Regular.ttf");
}