.entity-input{
    margin: 0px 30px;
    background-color: #0000;
    border-bottom: 2px solid #d0d0eb;
    border-top: 0;
    border-left: 0;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    color: #2f2f6b;
    text-align: center;
    border-right: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align-last:center;
}
.entity{
    display: flex;
    margin: 10px 0;
    border-bottom: 14px solid #eeeeee;
    justify-content: center;
}
.selection select{
    background-color: #0000;
    border-bottom: 2px solid #d0d0eb;
    border-top: 0;
    border-left: 0;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    color: #2f2f6b;
    text-align: center;
    border-right: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align-last:center;
}
.sendUser{
    width: 234px;
    height: 29px;
    color: #fff;
    background-color: #2f2f6b;
    border: navajowhite;
    box-shadow: 0 0 5px #2f2f6b5c;
    border-radius: 5px;
}